#Forecastcard,
#Forecastbase {
  border-radius: 18px;
  border: 1px solid #ffffff;
}

#Forecastcard {
  background-color: rgb(108, 117, 125, 0.8);
  margin-top: 40px;
}
#Forecastbase {
  background-color: rgb(222, 212, 115, 0.8);
  display: inherit;
}

.ForecastDaysTempMax {
  font-weight: bold;
}
.ForecastDaysTempMin {
  opacity: 0.7;
}
.Card {
  margin: 16px;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(116 141 166 / 56%);
  background-color: rgb(222, 212, 115, 0.8);
  padding: 20px 15px;
}
canvas {
  padding: 0 20px;
  vertical-align: middle;
}
