#Forecastcard,
#Forecastbase {
  border-radius: 18px;
  border: 1px solid #ffffff;
}

#Forecastcard {
  background-color: rgb(108, 117, 125, 0.8);
  margin-top: 40px;
}

.ForecastDaysTempMax {
  font-weight: bold;
}
.ForecastDaysTempMin {
  opacity: 0.7;
}
.RAIN {
  margin: 16px;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(116 141 166 / 56%);
  background-color: rgb(139, 157, 176);
  padding: 20px 15px;
  display: inherit;
  margin-top: 4px;
}
canvas {
  vertical-align: middle;
}
.CLEAR_DAY {
  margin: 16px;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(116 141 166 / 56%);
  background-color: rgb(219, 213, 135);
  padding: 20px 15px;
  display: inherit;
  margin-top: 4px;
}
.CLOUDY {
  margin: 16px;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(116 141 166 / 56%);
  background-color: rgb(222, 222, 222);
  padding: 20px 15px;
  display: inherit;
  margin-top: 4px;
}
