.MainTemp {
  font-size: 4.1rem;
  color: #282f36;
}
.Units .Celsius {
  font-size: 1.3rem;
  position: relative;
  text-align: left;
  top: -39px;
}
.Celsius {
  text-decoration: none;
  color: #282f36;
}
