.Units {
  font-size: 1.3rem;
  position: relative;
  text-align: left;
}
.Celsius {
  text-decoration: none;
  color: #282f36;
}
.Celsius:hover {
  color: #282f36;
}
.Farengeit:hover {
  color: #282f36;
}
.Farengeit {
  text-decoration: none;
  color: #ffffff;
}
